@model Memberships.Areas.Admin.Models.ProductItemModel
@using Memberships.Extensions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m=>m.ItemTitle)
        </dt>
        <dt>
            @Html.DisplayNameFor(m => m.ProductTitle)
        </dt>
        <dt>
            @Html.DisplayFor(m => m.ItemTitle)
        </dt>
        <dt>
            @Html.DisplayFor(m => m.ProductTitle)
        </dt>
    </dl>
</div>
<p>
    @*@Html.Partial("_EditButtonPartial", Model.Id)*@
    @Html.Partial("_BackToListButtonPartial")
</p>
